// Mixins

.tx_yh{ font-family:Microsoft Yahei;}
.tx_r{ text-align:right;}

.mt10{ margin-top:10px}
.mr10{ margin-right:10px}

.sidebar .nav > li > a{ font-size:16px; font-family:Microsoft Yahei}
.sidebar .nav-second-level li a{ font-size:12px}
.sidebar .arrow{ margin-top:4px}

.icoplace{ width:40px; display:none; text-align:center;}

.navbar-brand{ width:160px; background:url(../assets/images/logo_admin.png) center center no-repeat; background-size:131px 30px; text-indent:-9999em; overflow:hidden;}