// Mixins

.tx_yh{ font-family:Microsoft Yahei;}
.tx_r{ text-align:right;}

.mt10{ margin-top:10px}

.sidebar .nav > li > a{ font-size:16px; font-family:Microsoft Yahei}
.sidebar .nav-second-level li a{ font-size:12px}
.sidebar .arrow{ margin-top:4px}

.icoplace{ width:40px; display:inline-block; *display:inline; *zoom:1; text-align:center;}
